/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


/* Variables */

:root {
  --primary-dark: #000000;
  --primary-dark-opacity: rgba(0, 0, 0, 0.3);
  --secondary-dark: #333333;
  --tertiary-dark: #666666;
  --primary-light: #ffffff;
  --primary-light-opacity: rgba(255, 255, 255, 0.3);
  --secondary-light: #F2F2F2;
  --accent: #81B3D2;
  --accent-2: #669EC0;
  --accent-3: #5496BD;
  --special: #766357;
  --special-2: #604E43;
  --special-3: #503E33;
  --inner-bg: #eeeeee;
  --footer-bg: rgba(255, 255, 255, 0.9);
  --catalog-border: #E5E5E5;
  --container-shadow: rgba(0, 1, 1, 0.2);
}


/* Global */

.page {
  height: 100%;
}

.page-body {
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--primary-dark);
  text-transform: uppercase;
  background-color: var(--secondary-light);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--primary-light);
  box-shadow: 0 5px 15px 0 var(--container-shadow);
}

/* Navigation */
.main-nav {
  display: grid;
}

.main-nav-logo {
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: center;
  z-index: 1;
}

.main-nav-list {
  margin: 0;
  padding: 15px 72px;
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  list-style: none;
}

.main-nav-item-left {
  justify-self: start;
}

.main-nav-item-right {
  justify-self: end;
}

.main-nav-link {
  line-height: 26px;
  font-weight: 700;
  color: var(--primary-dark);
  text-decoration: none;
}

.main-nav-link:hover {
  color: var(--accent);
}

.main-nav-link:focus {
  color: var(--special);
}

.main-nav-link:active {
  color: var(--primary-dark-opacity);
}


/* Intro */

.intro {
  height: 509px;
  box-sizing: border-box;
  padding-top: 77px;
  text-align: center;
  background-color: var(--secondary-dark);
  background-image: url("../img/bg-photo-mask.svg"), url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, top center;
}

.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.text {
  line-height: 26px;
  color: var(--secondary-dark);
  text-align: center;
}


/* Reasons */

.reason {
  text-align: center;
}

.reason-heading {
  margin: 0;
  margin-bottom: 70px;
  font-size: 21px;
}

.reason-text {
  margin: 0;
}

.reason-large {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--accent);
}

.reason-large-inner {
  padding: 50px;
}

.reason-reverse {
  grid-template-columns: 2fr 1fr;
}

.reason-reverse .reason-large-inner {
  order: 1;
}

.reason-large .reason-heading,
.reason-large .reason-text {
  color: var(--primary-light);
}

.reasons-inner {
  padding: 50px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  background-color: var(--inner-bg);
}

.reasons-inner .reason-text {
  color: var(--secondary-dark);
}


/* Advices */

.advice-list {
  margin: 0;
  padding: 160px 65px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  list-style: none;
}

.advice-item {
  text-align: center;
}

.advice-item-heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 21px;
}

.advice-item-text {
  margin: 0;
  color: var(--secondary-dark);
}

/* Booking */

.hotels-booking-large-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.hotels-booking-text {
  color: var(--secondary-dark);
  text-align: center;
}

.hotels-booking-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--primary-light);
  text-transform: uppercase;
  background-color: var(--special);
  border: none;
}

.hotels-booking-button:hover {
  background-color: var(--special-2);
}

.hotels-booking-button:active {
  color: var(--primary-light-opacity);
  background-color: var(--special-3);
}


/* Filters */

.filters {
  color: var(--primary-light);
  background-color: var(--secondary-dark);
}

.filter-form {
  padding: 30px 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item {
  margin-top: 25px;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-light);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--primary-light);
  border-radius: 2px;
}

.filter-button:hover {
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

/* Search results */

.search-results-inner {
  padding: 30px 72px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 30px;
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-header {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-list {
  list-style: none;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  color: var(--primary-dark-opacity);
  text-decoration: none;
  border-bottom: 1px dashed var(--accent);
}

.sort-link:hover {
  color: var(--accent);
  border-bottom: 1px dashed var(--accent);
}

.sort-link:focus {
  color: var(--accent);
  border: none;
}

.sort-link:active {
  color: var(--primary-dark);
  border: none;
}

/* Catalog */

.hotels-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-catalog-item {
  padding: 30px 72px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 30px;
  border-top: 1px solid var(--catalog-border);
}

.hotels-catalog-item:last-of-type {
  border-bottom: 1px solid var(--catalog-border);
}

.hotel-name {
  margin: 0;
}

.hotel-name-link {
  font-size: 21px;
  line-height: 26px;
  color: var(--primary-dark);
  text-decoration: none;
}

.hotel-name-link:hover {
  color: var(--accent);
}

.hotel-name-link:active {
  color: var(--primary-dark-opacity);
}

.hotel-type,
.hotel-price {
  color: var(--secondary-dark);
}

.catalog-item-button {
  font-weight: 700;
  color: var(--primary-light);
  text-decoration: none;
}

.details-button {
  background-color: var(--accent);
}

.details-button:hover {
  background-color: var(--accent-2);
}

.details-button:active {
  color: var(--primary-light-opacity);
  background-color: var(--accent-3);
}

.booking-button {
  background-color: var(--special);
}

.booking-button:hover {
  background-color: var(--special-2);
}

.booking-button:active {
  color: var(--primary-light-opacity);
  background-color: var(--special-3);
}

.hotel-rating {
  color: var(--tertiary-dark);
  background-color: var(--secondary-light);
}

/* Footer */

.page-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--footer-bg);
  text-align: center;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-link,
.footer-phone {
  color: var(--primary-dark);
  text-decoration: none;
}

.footer-copyright {
  line-height: 26px;
}
