/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"), url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


/* Variables */

:root {
  --primary-dark: #000000;
  --primary-dark-opacity: rgba(0, 0, 0, 0.3);
  --secondary-dark: #333333;
  --tertiary-dark: #666666;
  --primary-light: #ffffff;
  --primary-light-opacity: rgba(255, 255, 255, 0.3);
  --secondary-light: #F2F2F2;
  --accent: #81B3D2;
  --accent-2: #669EC0;
  --accent-3: #5496BD;
  --special: #766357;
  --special-2: #604E43;
  --special-3: #503E33;
  --inner-bg: #eeeeee;
  --footer-bg: rgba(255, 255, 255, 0.9);
  --catalog-border: #E5E5E5;
  --container-shadow: rgba(0, 1, 1, 0.2);
  --htmlacademy-logo-focus: #bdbbbc;
  --filter-toggle: #ABABAB;
  --filter-toggle-opacity: rgba(171, 171, 171, 0.3);
  --filter-toggle-opacity-2: rgba(0, 0, 0, 0.25);
}


/* Global */

.page {
  height: 100%;
}

.page-body {
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--primary-dark);
  text-transform: uppercase;
  background-color: var(--secondary-light);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--primary-light);
  box-shadow: 0 5px 15px 0 var(--container-shadow);
}

/* Navigation */
.main-nav {
  display: grid;
}

.main-nav-logo {
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: center;
  z-index: 1;
}

.main-nav-list {
  margin: 0;
  padding: 14px 72px;
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  list-style: none;
}

.main-nav-item {
  width: 228px;
}

.main-nav-item:nth-child(3) {
  margin-left: auto;
}

.main-nav-item:nth-child(3),
.main-nav-item:nth-child(4) {
  text-align: end;
}

.main-nav-link {
  line-height: 26px;
  font-weight: 700;
  color: var(--primary-dark);
  text-decoration: none;
}

.main-nav-link-current {
  color: var(--special);
}

.main-nav-link:hover {
  color: var(--accent);
}

.main-nav-link:focus {
  color: var(--special);
}

.main-nav-link:active {
  color: var(--primary-dark-opacity);
}


/* Main */

.page-main {
  margin-top: -20px;
}

/* Intro */

.intro {
  padding-top: 77px;
  padding-bottom: 76px;
  text-align: center;
  background-color: var(--secondary-dark);
  background-image: url("../img/bg-photo-mask.svg"), url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, top center;
}

.slogan {
  margin: 0;
  padding: 40px 378px 46px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.text {
  margin: 0;
  margin-bottom: 52px;
  line-height: 26px;
  color: var(--secondary-dark);
  text-align: center;
}


/* Reasons */

.reason {
  text-align: center;
}

.reason-heading {
  margin: 0;
  padding: 0 71px;
  font-size: 21px;
}

.reason-text {
  position: relative;
  margin: 0;
  padding-top: 71px;
}

.reason-text::before {
  position: absolute;
  top: 27px;
  left: 50%;
  width: 51px;
  height: 21px;
  margin-left: -25px;
}

.reason-one::before {
  content: "— №1 —";
}

.reason-two::before {
  content: "— №2 —";
  top: 23px;
}

.reason-three::before {
  content: "— №3 —";
}

.reason-four::before {
  content: "— №4 —";
}

.reason-five::before {
  content: "— №5 —";
}

.reason-large {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--accent);
}

.reason-large-inner {
  padding: 46px;
}

.reason-reverse {
  grid-template-columns: 2fr 1fr;
}

.reason-reverse .reason-large-inner {
  order: 1;
}

.reason-large .reason-heading,
.reason-large .reason-text {
  color: var(--primary-light);
}

.reason-reverse .reason-heading {
  padding: 4px 79px;
}

.reason-reverse .reason-text {
  padding-top: 67px;
}

.reasons-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--inner-bg);
}

.reasons-inner .reason {
  padding-top: 47px;
  padding-left: 70px;
  padding-right: 71px;
  padding-bottom: 56px;
}

.reasons-inner .reason-text {
  color: var(--secondary-dark);
}


/* Advices */

.advice-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.advice-item {
  position: relative;
  padding: 158px 50px 81px;
  text-align: center;
}

.advice-item::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.house-icon::before {
  top: 59px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icons/house-icon.svg");
}

.food-icon::before {
  top: 61px;
  width: 75px;
  height: 70px;
  background-image: url("../img/icons/food-icon.svg");
}

.gift-icon::before {
  top: 55px;
  width: 64px;
  height: 77px;
  background-image: url("../img/icons/gift-icon.svg");
}

.advice-item-heading {
  margin: 0;
  margin-bottom: 27px;
  font-size: 21px;
}

.advice-item-text {
  margin: 0;
  color: var(--secondary-dark);
}

/* Booking */

.hotels-booking-large-text {
  margin-top: 56px;
  margin-left: -10px;
  margin-bottom: 34px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.hotels-booking-text {
  margin: 0;
  margin-bottom: 43px;
  line-height: 24px;
  color: var(--secondary-dark);
  text-align: center;
}

.hotels-booking-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px 139px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--primary-light);
  text-transform: uppercase;
  background-color: var(--special);
  border: none;
}

.hotels-booking-button:hover {
  background-color: var(--special-2);
}

.hotels-booking-button:active {
  color: var(--primary-light-opacity);
  background-color: var(--special-3);
}


/* Filters */

.filters {
  padding-top: 26px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 33px;
  color: var(--primary-light);
  background-color: var(--secondary-dark);
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form {
  display: flex;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  width: 256px;
  border: none;
}

.filter-legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item {
  margin-top: 25px;
}

.filter-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
}

.filter-input-checkbox + .filter-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
}

.filter-input-checkbox:disabled + .filter-label::before {
  background-image: url("../img/icons/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked + .filter-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on.svg");
}

.filter-input-checkbox:checked:disabled + .filter-label::after {
  background-image: url("../img/icons/checkbox-on-disabled.svg");
}

.filter-form-inner {
  position: relative;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.filter-form-inner .filter-legend {
  margin-bottom: 12px;
}

.price-controls {
  position: relative;
  width: 317px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid var(--primary-light);
  border-radius: 2px;
}

.price-controls::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  width: 2px;
  height: 22px;
  background-color: var(--primary-light);
}

.filter-label-number {
  width: 156px;
}

.label-min-range {
  margin-left: 63px;
}

.label-max-range {
  margin-left: 43px;
}

.filter-input-number {
  width: 65px;
  padding: 4px 0 7px;
  color: inherit;
  border: none;
  background: transparent;
  font-size: inherit;
  line-height: inherit;
}

.range-controls {
  position: relative;
  padding-top: 20px;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: var(--primary-light-opacity);
}

.range-controls .bar {
  width: 253px;
  height: 2px;
  background: var(--primary-light);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  width: 4px;
  height: 4px;
  background-color: var(--filter-toggle);
  border: 8px solid var(--primary-light);
  border-radius: 50%;
  box-shadow:
    0 2px 0 0 var(--filter-toggle-opacity),
    0 4px 4px 0 var(--filter-toggle-opacity-2);
  cursor: pointer;
}

.range-controls .toggle:hover {
  width: 5px;
  height: 5px;
  border: 9px solid var(--primary-light);
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 252px;
}

/*Кнопка формы*/
.filter-button {
  margin-left: 84px;
  padding: 5px 34px;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-light);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--primary-light);
  border-radius: 2px;
}

.filter-button:hover {
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

/* Search results */

.search-results-inner {
  padding: 30px 73px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 47px;
}

.found {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting {
  display: flex;
}

.sort-header {
  margin: 0;
  margin-top: 2px;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-order {
  margin-left: auto;
}

.sort-order-item {
  padding-top: 4px;
  padding-left: 12px;
}

.sort-order-link-current path {
  fill: var(--accent);
}

.sort-order-link:hover path {
  fill: var(--primary-dark);
}

.sort-order-link:focus path {
  fill: var(--accent);
}

.sort-item {
  margin-right: 32px;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  color: var(--primary-dark-opacity);
  text-decoration: none;
  border-bottom: 1px dashed var(--accent);
}

.sort-link-current {
  color: var(--accent);
  border: none;
}

.sort-link:hover {
  color: var(--accent);
  border-bottom: 1px dashed var(--accent);
}

.sort-link:focus {
  color: var(--accent);
  border: none;
}

.sort-link:active {
  color: var(--primary-dark);
  border: none;
}

/* Catalog */

.hotels-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-catalog-item {
  padding: 23px 72px 25px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 30px;
  border-top: 1px solid var(--catalog-border);
}

.hotels-catalog-item:last-of-type {
  border-bottom: 1px solid var(--catalog-border);
}

.hotel-name {
  margin: 0;
}

.hotel-name-link {
  font-size: 21px;
  line-height: 26px;
  color: var(--primary-dark);
  text-decoration: none;
}

.hotel-name-link:hover {
  color: var(--accent);
}

.hotel-name-link:active {
  color: var(--primary-dark-opacity);
}

.hotel-img-link {
  margin-top: 7px;
}

.type-price-inner {
  display: flex;
  margin-top: 8px;
  margin-bottom: 18px;
  color: var(--secondary-dark);
}

.hotel-type,
.hotel-price {
  margin: 0;
}

.hotel-type {
  min-width: 116px;
}

.item-rating {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-stars {
  position: relative;
}

.hotel-stars::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -1px;
  width: 19px;
  height: 17px;
  background-image: url("../img/icons/star.svg");
}

.four-stars::before {
  width: 90px;
  background-repeat: space;
}

.three-stars::before {
  top: 5px;
  width: 65px;
  background-repeat: space;
}

.two-stars::before {
  top: 5px;
  width: 42px;
  background-repeat: space;
}


.catalog-item-button {
  padding-top: 3px;
  padding-left: 18px;
  padding-right: 17px;
  padding-bottom: 6px;
  font-weight: 700;
  color: var(--primary-light);
  text-decoration: none;
}

.details-button {
  background-color: var(--accent);
}

.details-button:hover {
  background-color: var(--accent-2);
}

.details-button:active {
  color: var(--primary-light-opacity);
  background-color: var(--accent-3);
}

.booking-button {
  background-color: var(--special);
}

.booking-button:hover {
  background-color: var(--special-2);
}

.booking-button:active {
  color: var(--primary-light-opacity);
  background-color: var(--special-3);
}

.hotel-stars,
.hotel-rating {
  margin: 0;
}

.hotel-rating {
  padding: 3px 14px;
  color: var(--tertiary-dark);
  background-color: var(--secondary-light);
}

/* Footer */

.page-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: var(--footer-bg);
  text-align: center;
}

.footer-contacts {
  padding-left: 71px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.paragraph-wrap-link {
  margin: 23px 0 9px;
}

.paragraph-wrap-phone {
  margin: 0;
  margin-bottom: 36px;
}

.footer-link,
.footer-phone {
  color: var(--primary-dark);
  text-decoration: none;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-item {
  margin-right: 4px;
}

.socials-item:last-of-type {
  margin: 0;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--accent);
}

.socials-link:hover {
  background-color: var(--accent-2);
}

.socials-link:focus {
  background-color: var(--accent-3);
}

.socials-link:focus path {
  fill: var(--primary-light-opacity);
}

.footer-copyright {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 65px;
  line-height: 26px;
}

.htmlacademy-logo-link {
  padding-left: 8px;
}

.htmlacademy-logo-link:hover path {
  fill: var(--accent);
}

.htmlacademy-logo-link:focus path {
  fill: var(--htmlacademy-logo-focus);
}
